.bambora_transactionid p,
.bambora_paymenttype p {
    line-height: 6px;
}

.bambora_transactionid p:first-child,
.bambora_paymenttype p:first-child {
    font-size: 12px;
    font-weight: 400;
    color: grey;
}

.bambora_transactionid p:last-child,
.bambora_paymenttype p:last-child {
    font-weight: 600;
}

.bambora_paymenttype_img {
    max-width: 42px;
    float: right;
}

.bambora_info_overview {
    font-weight: 600;
}

.bambora_info_overview p {
    display: inline-block;
    margin: 0;
}

.bambora_info_overview p:last-child {
    float: right;
}

.bambora_action_container {
    background-color: #eaecf0;
    border: 1px solid #b9c4e2;
    padding: 15px 9px 0 9px;
    margin: 20px 0;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}

.bambora_action {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;
}

.bambora_action p,
.bambora_action input,
.bambora_action a {
    display: inline-block;
}

.bambora_action p {
    padding: 6px 0;
    font-weight: 400;
    line-height: 0.9;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    -ms-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    margin: 0;
    width: 20%;
}

.bambora_action input {
    margin: 0;
}

.bambora_action a {
    box-shadow: none !important;
    height: inherit !important;
    color: #ffffff !important;
}

.bambora_action .capture,
.bambora_action .delete {
    box-shadow: none !important;
    height: inherit !important;
    color: #ffffff !important;
}

.bambora_action .capture {
    background-color: #67b168 !important;
    border-color: #67b168;
    padding: 0;
    -ms-border-radius: 0 4px 4px 0 !important;
    border-radius: 0 4px 4px 0 !important;
    width: 34%;
    text-align: center;
    line-height: 24px;
}

.bambora_action .capture:hover {
    background-color: #88a755 !important;
    border-color: #88a755 !important;
}

.bambora_action .delete {
    background-color: #fa8564 !important;
    border-color: #fa8564 !important;
    -ms-border-radius: 4px !important;
    border-radius: 4px !important;
    float: right;
    margin: 0 0 10px 0;
    padding: 0;
    width: 34%;
    text-align: center;
}

.bambora_action .delete:hover {
    background-color: #ec6459 !important;
    border-color: #ec6459 !important;
}

.bambora_amount {
    width: 45%;
}

.bambora-table {
    width: 100%;
    border-collapse: collapse;
}

.bambora_transaction_row_header {
    font-size: 11px;
    font-weight: 400;
    color: grey;
    line-height: 9px;
}

.bambora_transaction_row_header td {
    padding: 12px 10px 0 10px;
}

.bambora_transaction_row_header td:nth-child(even) {
    float: right;
}

.bambora_transaction_header {
    font-weight: 600;
    padding-bottom: 10px;
    font-size: 12px;
}

.bambora_transaction_header td {
    padding: 0 10px 7px 10px;
}

.bambora_transaction_header td:last-child {
    float: right;
}

.bambora_transaction_description {
    border-bottom: 1px solid #C1C1C1;
    font-weight: 300;
    font-style: italic;
    padding-bottom: 10px;
    font-size: 11px;
}

.bambora_transaction_description td {
    padding: 0 10px 7px 10px;
}

.bambora_transaction_description td:last-child {
    float: right;
}

#bambora-format-error {
    display: none;
}

.bambora_message {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.bambora_error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 5px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.bambora_success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 5px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

#boc-admin-documentation {
    margin-right: 5px;
}
.bambora_paymentrequest_details,.bambora_paymentrequest_action  {
    background-color: #F6F7FA;
    padding: 10px;
    border-radius: 4px;
    border-color: #E2E1E6;
    margin-bottom: 20px;
    display: inline-block;
}
.bambora_pr_label{
    font-weight: 600;
    float: left;
    min-width: 200px;
}
.bambora_pr_info{
    font-weight: 300;
    float: left;
    min-width: 200px;
    line-break: anywhere;
    display: block;
}
.bambora_pr_status_open{
    color: #5b841b;
    background-color: #c6e1c6;
    border-color: #5b841b;
    border-radius: 4px;
    display: inline-flex;
    line-height: 2.5em;
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin: -.25em 0;
    white-space: nowrap;
    max-width: 100%;
}
.bambora_pr_status_closed{
   color: #777;
    background-color: #e5e5e5;
    border-color: #777;
    border-radius: 4px;
    display: inline-flex;
    line-height: 2.5em;
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin: -.25em 0;
    white-space: nowrap;
    max-width: 100%;
}
.bambora_pr_status_expired{//RED
    padding:5px;
    color: #dc3232;
    background-color: #FFEAE4;
    border-color: #dc3232;
    border-radius: 4px;
    display: inline-flex;
    line-height: 2.5em;
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin: -.25em 0;
    white-space: nowrap;
    max-width: 100%;
}
.bambora_pr_status_deleted{
    padding:5px;
    color: #777;
    background-color: #e5e5e5;
    border-color: #777;
    border-radius: 4px;
    display: inline-flex;
    line-height: 2.5em;
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin: -.25em 0;
    white-space: nowrap;
    max-width: 100%;
}
.bambora_pr_row{
    float: left;
    clear: both;
}
.pr_status {
    margin: 0 1em;
}